extends ./layout.jade
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
    h1 Bienvenido a FotoFacilito
    a(href="/signin") Ingresar al sitio
    br
    a(href="/signup") Registro
