extends ./layout.jade
block contenido
  div(class="col-md-8 remove-float center-block big-top-space")
    form(action="/session", method="POST")
      div(class="form-group")
        label(for="email") Correo electrónico
        input(type="text", placeholder="Ingresa tu correo", name="email", id="email", class="form-control")
      div
        label(for="password") Contraseña
        input(type="password", placeholder="Ingresa tu clave", name="password", id="password", class="form-control")    
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          input(type="submit", value="Iniciar sesión", class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-right")
          a(href="/signup") No tengo cuenta
